@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  font-size: 72px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgb(46, 129, 224) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.animate {
  transition: background-color 0.3s ease;
}
.highlighter {
  padding: 1px;
  background-color: #609aa5;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
  text-wrap: balance;
}
.intro-list li span:nth-child(1) {
  width: 130px;
  display: inline-block;
  color: black;
  font-weight: bolder;
}
.intro-list li span:nth-child(2) {
  color: grey;
}

.underline-on-hover {
  position: relative;
  display: inline-block;
}

.underline-on-hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #3b82f6;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center bottom;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.underline-on-hover:hover::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}
.active {
  color: #3b82f6;
}
.active::after {
  width: 100%;
  transform: translateX(-50%) scaleX(1);
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.card:hover {
  box-shadow: #3b82f6 0px 3px 8px;
}
.heading {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.heading::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 10%; /* Adjust the value to change the starting point of the underline */
  width: 80%; /* Adjust the value to change the width of the underline */
  height: 2px;
  background-color: #3b82f6; /* Change the color of the underline here */
}

.service-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.service-card:hover {
  box-shadow: #3b82f6 0px 3px 8px;
}
nav {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 9999;
}
